html {
  background: radial-gradient(circle,#FBD6FF, white);
}
body {
  height: 100vh;
  background-repeat: no-repeat;
  font-family: 'Lexend Zetta', sans-serif;
  letter-spacing: .6rem;
  color: #3F3640;
}

a {
  text-decoration: none;
  color: #7D6B80;
}

a:hover {
  animation-name: faded;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes faded {
  from {color: #7D6B80;}
  to {color: #3F3640;}
}

header {
  display: flex;
  justify-content: space-between;
}

.main {
  padding-left: 60px;
}

nav {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  /* width: 50%; */
}

nav p {
  padding: 10px 20px;
}

#hero {
  margin-top: 3vh;
  margin-bottom: 3vh;
  text-align: center;
  position: relative;
}

#hero img {
  height: 50vh;
  max-width: 100%;
  border-radius: 8px;
  opacity: .7;
}

#hero h2 {
  color: #3F3640;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.galleria {
  display: flex;
}

.gallery {
  /* border: 2px solid green; */
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 4vh 7vw;
  justify-content: space-between;
}

.gallery div  {
  /* border: 2px solid blueviolet; */
  /* height: 15vh; */
  margin: auto;
  /* width: 15vw; */
}

.gallery img {
  /* width: 15vw; */
  height: 13vh;
}

h3 {
  font-size: small;
  margin: 5px auto;
}

#footer {
  text-align: center;
  background-color: #E2C1E6;
  padding: 50px 10px;
}

#copyright {
  font-size: .3rem;
}

.social {
  display: flow-root;
  justify-content: space-evenly;
  /* border: 2px solid blueviolet; */
  padding: 30px 100px;
}

.social img {
  width: 4vw;
  /* height: 4vh; */
}

.social a {
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (max-width: 800px ) {
  header nav {
    display: revert;
    /* padding-top: 3vh;
    padding-left: 0px; */
  }

  .gallery {
    justify-content: space-evenly;
    padding: 2vh 2vw;
    width: auto;
    /* margin-right: 8vw; */
  }

  .social img {
    height: 3vh;
    width: auto;
  }

  .main {
    padding-top: 9vh;
  }

}

@media only screen and (max-width: 600px ) {
  header {
    display: revert;
    text-align: center;
    padding-left: 0px;
  }
  
  .main {
    padding: 0px 0px 0px 0px;
  }

  header nav {
    padding-top: 0px;
  }

  .galleria {
    display: revert;
  }

  .gallery {
    justify-content: unset;
    display: flex;
    margin: auto;
    padding: 1vh 2vw;
  }

  .social img {
    height: 3vh;
  }
}
